{% extends "base.html" %}

{% block add_status %}
    active
{% endblock %}

{% block content %}
<div>
    <p>
        <h1 style="text-align: center">Add Electric Vehicle</h1>
    </p>
    {% include "form.html" %}
    <form class="" action="/add_ev" method="post">
        <input type="submit" name="button" value="Cancel">
    </form>
    {% if status == 'Updated' %}
        Vehicle added successfully!
    {% elif status == 'Exists' %}
        The vehicle data already exists
    {% endif %}
</div>    

{% endblock %}