{% extends "base.html" %}

{% block home_status %}
active
{% endblock %}

{% block content %}
    
{% if user %}
    <div>
        <p>
        <h1 style="text-align: center;">Welcome to Ev Datastore</h1>
        </p>
        <div class="container">
            <p style="text-align: center;">
                Dear <i>{{ user.email() }}</i>, welcome to EV Datastore, one stop to find YOUR Electric Veihicle. <br>
                
                Thank you choosing us. You can now use the entire aplicaiton.
                <br><br>
                <b>Please have a look at our existing fleet of vehicles!</b>
                <br><br>
                If you think we have missed out any vehicle, you can add them to the list
            </p>
        </div>
    </div>
{% else %}
    <div>
        <p>
        <h1 style="text-align: center;">Welcome to Ev Datastore</h1>
        </p>
        <div class="container">
            <p style="text-align: center;">
                Dear user, welcome to EV Datastore, one stop to find YOUR Electric Veihicle. <br>
                If you haven't registered already, <br>
                please <a href="{{ url }}">Sign-Up</a> <br> or <br> you can simply <a href="{{ url }}">Login</a> <br> to use
                the full application.
                <br><br>
                <b>Meanwhile, do have a look at our existing fleet of vehicles!</b>
            </p>
        </div>
    </div>
{% endif %}

{% endblock %}